#giris_ekran{
    margin: 0%;
}
#giris_resim{
    width: 100%;
    height: 100%;
}
#ust_sekme{
    position: static;
    background-color: black;
    
}
#ust_logo{
float: left;
margin-left: 5%;
height: 100%;
}
.ust_butonlar{
    position: static;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    float: left;
    width: auto;
    height: 100%;
    margin-left: 3%;
    background-image: url(../STATIC/butonpic.png);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: black;
    border: white solid 1px;
    border-radius: 30%;
    cursor: pointer;
}