#giris_ekran{
    margin: 0%;
}
#giris_resim{
    width: 100%;
    height: 100%;
}
#ust_sekme{
    position: static;
    background-color: black;
    
}
#ust_logo{
float: left;
margin-left: 3%;
height: 100%;
}
.ust_butonlar{
    position: static;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    float: left;
    width: 10%;
    height: 90%;
    margin-left: 2%;
    background-image: url(../STATIC/butonpic.png);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: black;
    border: white solid 1px;
    border-radius: 30%;
    cursor: pointer;
}
.dil_button{
    position: static;
    float: right;
    cursor: pointer;
    width: 5%;
    margin-right: 3%;
}
#gelistirmeler_ekrani{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;   
    width: 100%;
    color: black;
    height:auto;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    font-weight:lighter;
    align-items: center;
    font-size: small;

}
.gelistirme_dugmesi{
    width: 1.6%;
    cursor: pointer;;
}
